<div class="col-sm-8">    
        <div class="">
        <ol>
        <% comments.forEach(function(comment) { %>
                <li>
                    <h4><a href="/blog/comment/<%= comment.id %>"><%= comment.title %></a></h4>
                    
                     <a href="/blog/comment/<%= comment.id %>/update">Edit  comment</a> | <a href="/blog/comment/<%= comment.id %>/delete">Delete comment</a>
                </li>
            <br/>
        <% }); %>
        </ol>
    </div>
    </div>