<div class="col-sm-8">    
        <div class="jumbotron">
            <form action="" method="post">
              comment_title:<br>
              <textarea  name="title" value="title"></textarea>
              <br>
              <br><br>
              <input type="submit" value="create comment">
            </form>
        </div>
    </div>