 <div class="col-sm-8">    
        <div class="jumbotron">
            <form action="/blog/comment/<%= comment.id %>/update" method="post">
              comment title:<br>
              <input type="text" name="title" value="<%= comment.title %>">
              <br>
              <br><br>
              <input type="submit" value="Update">
            </form>
        </div>
    </div>