<div class="col-sm-8">    
        <div class="">
             <h1>Details of a Single Author</h1>
             <em><u><p>About Author</p></u></em>
             <p>First Name: <%= author.first_name %></p>
             <p>Last Name:  <%= author.last_name %></p>
             <p>Role:  <%= author.role %></p>
             <p>Email:  <%= author.email %></p>
             <a href="/blog/author/<%= author.id %>/update">Edit  Author</a> | <a href="/blog/author/<%= author.id %>/delete">Delete Author</a> 
        </div>
    </div>