 <div class="col-sm-8">    
        <div class="jumbotron">
            <form action="" method="post">
              first_name:<br>
              <input type="text" name="first_name" value="first name">
              <br>
              last Name:<br>
              <input type="text" name="last_name" value="last name">
              <br><br>
              User Name:<br>
              <input type="text" name="username" value="user name">
              <br><br>
              role :<br>
              <input type="text" name="role" value="role ">
              <br><br>
              email:<br>
              <input type="text" name="email" value="email">
              <br><br>
              <input type="submit" value="create author">
            </form>
        </div>
    </div>