 <div class="col-sm-8">  
   
        <div class="jumbotron">
            <form action="/blog/author/<%= author.id %>/update" method="post">
              first name:<br>
              <input type="text" name="first_name" value="<%= author.first_name %>">
              <br>
              last name:<br>
              <input type="text" name="last_name" value="<%= author.last_name %>">
              <br><br>
               first name:<br>
              <input type="text" name="username" value="<%= author.username %>">
              <br>
              last name:<br>
              <input type="text" name="role" value="<%= author.role %>">
              <br><br>
               first name:<br>
              <input type="text" name="email" value="<%= author.email %>">
              <br>
              <br><br>
              <input type="submit" value="Update">
            </form>
        </div>
    </div>