<div class="col-sm-8">    
        <div class="">
             <h1>Details of a Single Category</h1>
            
             <p><%= category.name %></p>
             <a href="/blog/category/<%= category.id %>/update">Edit  Category</a> | <a href="/blog/category/<%= category.id %>/delete">Delete Category</a> 
        </div>
    </div>