<div class="col-sm-8">    
        <div class="">
        <ol>
        <% categories.forEach(function(category) { %>
                <li>
                    <h4><a href="/blog/category/<%= category.id %>"><%= category.name %></a></h4>
                    
                     <a href="/blog/category/<%= category.id %>/update">Edit  category</a> | <a href="/blog/category/<%= category.id %>/delete">Delete category</a>
                </li>
            <br/>
        <% }); %>
        </ol>
    </div>
    </div>