<div class="col-sm-8">    
        <div class="">
        <ol>
        <% articles.forEach(function(article) { %>
                <li>
                    <h4><a href="/blog/article/<%= article.id %>"><%= article.article_title %></a></h4>
                    <p> <%= article.article_body %></p>
                     <a href="/blog/article/<%= article.id %>/update">Edit  Article</a> | <a href="/blog/article/<%= article.id %>/delete">Delete Article</a>
                </li>
            <br/>
        <% }); %>
        </ol>
    </div>
    </div>