<div class="col-sm-8">    
        <div class="">
             <h1>Details of a Single article</h1>
             <p>I am an article for this ID = <%= article.id %></p>
             <p>Article Title: <%= article.article_title %></p>
             <p>Article Body:  <%= article.article_body %></p>
             <a href="/blog/article/<%= article.id %>/update">Edit  Article</a> | <a href="/blog/article/<%= article.id %>/delete">Delete Article</a>
        </div>
    </div>