 <div class="col-sm-8">    
        <div class="jumbotron">
            <form action="" method="post">
              Article Title:<br>
              <input type="text" name="article_title" value="article Title">
              <br>
              Article Body:<br>
              <input type="text" name="article_body" value="article Body">
              <br><br>
              <input type="submit" value="Submit">
            </form>
        </div>
    </div>